## Ignore specific files, temp code when working on leetcode
## author: jcju

*.swp
*.swo
*.asv
*bak
*.ini

*.o
*.out

*.jpg
*.png

## On-going C++ codes, under root folder (Leetcode plugin)
/*.cpp

## used for testing some basic c++ funcs
test.cpp

*/.vscode


